.modal.large {
  width: 900px;
  max-width: 95%;
}

.procedure-modal-content {
  display: flex;
  gap: 30px;
}

.procedure-info {
  flex: 1;
}

.procedure-info img {
  width: 330px;
  height: 400px;       
  object-fit: cover;  
  border-radius: 10px;
}

.procedure-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.procedure-form input,
.procedure-form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.procedure-form input:focus,
.procedure-form select:focus {
  border-color: #b48a78;
  box-shadow: 0 0 5px rgba(180, 138, 120, 0.5);
}

.date-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}


.price {
  font-weight: bold;
  color: #b48a78;
}

@media (max-width: 900px) {

  .modal.large {
    width: 95%;
  }

  .procedure-modal-content {
    flex-direction: column; 
    gap: 15px;
  }

  .procedure-info {
    text-align: center;
  }

  .procedure-info img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .procedure-form {
    width: 100%;
  }
}